<%= render 'layouts/sidebar' %>

<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class="table table-striped">
    <thead class="book-head">
      <tr>
        <th colspan="6"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= link_to user_path(@find_book.user) do %>
          <%= image_tag @find_book.user.get_profile_image(100,100) %>
          <p><%= @user.name %></p>
          <% end %>
        </td>

        <td>
          <%= link_to book_path(@find_book) do %>
          <%= @find_book.title %>
          <% end %>
        </td>

        <td>
          <%= @find_book.body %>
        </td>

        <td>
          <% if @user == current_user %>
          <%= link_to 'Edit', edit_book_path(@find_book), class: "btn btn-primary" %>
          <% end %>
        </td>

        <td>
          <% if @user == current_user %>
          <%= link_to 'Destroy', book_path(@find_book), class: "btn btn-warning", method: :delete, "data-confirm" => "Are you sure?" %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>